<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
<!-- https://www.ncbi.nlm.nih.gov/projects/msaviewer/ -->
<!-- This viewer will expire in 1-2 months. Update or embed our own -->


<!-- <script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/projects/msaviewer/js/multialign.js"></script></head> -->

{% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
{% endif %}
<meta charset="UTF-8">

	<!-- <title> -->
        <!-- SARS-CoV-2 variants -->
    <!-- </title> -->


{% seo %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
<!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->
<header class="page-header" role="banner">

<!-- <div class="particle-2"></div> -->
<!-- <div class="particle-3"></div> -->
<!-- <div class="particle-4"></div> -->

<div class="project-name" >
	<h2>Viral genetic determinants of persistent human orthopneumovirus infection.
</h2>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
  {% endif %}

</div>  
</header>

<!-- MSA viewer -->
<!-- <div id="msaviewer_x6f6y" class="MultiAlignViewerApp" data-autoload> -->
<!-- <a href="?embedded=true&anchor=-1&coloring=fbd&key=qhkwwLYbacLFNSfF5iQRO0GVWVAGIQgkBCIsNDgwKh67Eg5CyHhYWzczAoYJoxPeQsYf0gH2WvMd6QnkD-ID-THQDN4g4go,jT4X55E8TuXiEgDiwQM2HGayfnYhBy8CIwQLEh8WDTicNClk714CS8TL8QFrLrlT6Eu1X6t78H63ZKNppW-pdJtdplOKb6A&track_config=protein_default&from=207&to=278&columns=d:120,b:55,x:17,aln,e:55,o:150&appname=ncbi_msav_demo"></a> -->
<!-- </div> -->

	<!-- <div id="7db9ZE" class="SeqViewerApp" data-autoload> -->
<!-- <a href="?embedded=true&url=https://raw.githubusercontent.com/DylanLawless/SARS-CoV-2-VOC.github.io/main/UCSCGenes_exon20.bed&appname=MyCompany_MyApp"></a> -->
<!-- </div> -->

    <main id="content" class="main-content" role="main">
      {{ content }}

	<footer class="site-footer">
		{% if site.github.is_project_page %}
		<span class="site-footer-owner">
		<!-- <a href="https://lawlessgenomics.com"><img src="/images/logos/logo4.2_150ppi.png" --> 
		<!-- alt="Logo image" width="17.85" height="27.25" /></a> -->
		<a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
		</span>
		{% endif %}

	<!-- <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span> -->
	<!-- <form action="https://www.paypal.com/donate" method="post" target="_top"> -->
<!-- <input type="hidden" name="hosted_button_id" value="UU3F4ND2JAP2W" /> -->
<!-- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /> -->
<!-- <img alt="" border="0" src="https://www.paypal.com/en_IE/i/scr/pixel.gif" width="1" height="1" /> -->
<!-- </form> -->
	<!--- https://www.paypal.com/donate?hosted_button_id=UU3F4ND2JAP2W --->

	</footer>
    </main>
  </body>
</html>
